/*
	alslib.css CSS Library

	@license: MIT - http://opensource.org/licenses/MIT
	@version: 1.0.0 Development
	@author: Alex Oliver

	Copyright (c) 2014 Alex Oliver
 */

*{
	margin: 0;
	padding: 0;
}

:focus{ outline: none; }

body, input, textarea, button, pre{
	font-family: "Open Sans", arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	color: #3B3B3B;
}

.pull-left{ float: left; }
.pull-right{ float: right; }

.contentHidden,
.checkbox,
.radio{
	overflow: hidden;
	font-size: 0;
}

/* typography */
h1, h2, h3, h4, h5, p, a, ul, ol, dl, .quite, input, textarea, button, table, label, pre, small{
	font-weight: normal;
	font-weight: 300;
}

h1, h2, h3, h4, h5, p, .quite, ul, ol, dl{ margin-bottom: 20px; }

strong{ font-weight: 500; }
em, p{ line-height: 20px; }

.quite{
	display: block;
	padding-left: 16px;
	border-left: solid 4px #cccccc;
}

pre{
	background-color: #f9f9f9;
	white-space: pre-wrap;
	padding: 20px;
	font-size: 12px;
}

/* lists */
ul, ol, dd{ margin-left: 20px; }
li, dt, dd{ margin-bottom: 5px; }

/* tables */
table{
	width: 100%;
	border-spacing: 0;
}

thead tr,
tfoot tr{
	background-color: #333333;
	color: #ffffff;
}

tbody tr:nth-child(2n+0){ background-color: #f9f9f9; }
tbody tr:hover{ background-color: #E0F2FF; }
td{ padding: 20px; }

/* forms */
fieldset{ border: none; }
fieldset p{ padding-right: 40px; }
label{ display: block; margin-bottom: 10px; }

input,
textarea,
.select{
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	padding: 20px;
	width: 100%;
	resize: none;
}

input:focus,
textarea:focus{
	transition: all 300ms ease-in-out;
	border-color: #62A6CA;
}

.select{
	position: relative;
	margin-left: 0;
	padding: 0;
	overflow: hidden;
	height: 55px;
}

.select li{
	list-style: none;
	display: block;
	padding: 20px;
}

.select li .button{
	position: absolute;
	top: 0;
	right: -10px;
	text-decoration: none;
	cursor: pointer;
}

button,
.button{
	border: none;
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	padding: 20px 40px;
	cursor: pointer;
}

.checkbox,
.radio{
	transition: all 300ms ease-in-out;
	display: inline-block;
	background-color: #ffffff;
	border: solid 5px #eeeeee;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.radio{ border-radius: 50%; }

.checkbox:hover,
.radio:hover{ border: solid 5px #62A6CA; }

.checked{
	background-color: #62A6CA;
	border: solid 5px #62A6CA;
}

.notice{ background-color: #f2d8a4; }
.process{ background-color: #62A6CA; }
.valid{ background-color: #86B750; }
.invalid, .warning{ background-color: #C94532; }

/* fluid4[40] */
.col1{ width: 100%; }
.col2{ width: 50%; }
.col3{ width: 33.33%; }
.col4{ width: 25%; }

.col35{ width: 35%; }
.col65{ width: 65%; }
.col75{ width: 75%; }

.col{ float: left; }
.col .content{ margin: 40px 0 0 40px; }
.bodyContent{ padding-right: 40px; }
.clearfloat{ clear: both; }

@media screen and (max-width: 600px) {
	.col{ width: 100%; }
}