.topnav{
	color: #ffffff;
	background-color: #333333;
}

.topnav h1{
	margin: 20px 40px;
}

.fluid4 h3{
	margin: 40px 0px 10px 40px;
}

.fluid4 p{
	text-align: center;
	padding: 20px;
	background-color: #f9f9f9;
	margin: 0px;
}

.heading{
	padding: 20px 20px 10px 0px;
	border-bottom: solid 4px #cccccc;
}